@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">LUCIAN LAPTOP ENTERPISE</h1>
        <p class="lead">
            "Welcome to Lucian Laptop Enterprise, where our commitment to innovation knows no bounds. Dive into a realm of imaginary advancements with our cutting-edge
            laptops, meticulously crafted to push the boundaries of what's real. Embrace a surreal journey into technology's
            whimsical future with Lucian – where dreams become pixels, and reality takes a backseat to our fantastical creations!".
        </p>
        <p><a href="~/Controllers/LaptopsController.cs" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Model Type</h2>
            <p>
                When choosing a laptop, it's essential to consider your specific needs,
                such as performance requirements, portability, and budget constraints. 
                Each category offers different trade-offs, so finding the right balance
                is crucial based on your preferences and use cases.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Types of Laptops</h2>
            <p>
                "Empowering Dreams, One Keystroke at a Time: Your Journey, Our Technology!"
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Suppliers</h2>
            <p>What sets us apart is not just the quality of the laptops we offer, but also our unwavering dedication to customer satisfaction.
            Our team of experts is here to assist you in finding the perfect solution tailored to your specific requirements. 
            Whether you're a business in need of reliable workstations or a gamer seeking high-performance rigs, we have you covered.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>